<%= form_with url: sign_up_path, scope: :user do |f| %>
  <h1><%= t("auth.sign_up.title") %></h1>
  <div class="field">
    <%= f.label :email, t("auth.sign_up.email") %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t("auth.sign_up.password") %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("auth.sign_up.password_confirmation", default: "Password confirmation") %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t("auth.sign_up.submit") %>
  </div>
<% end %>
