<!DOCTYPE html>
<html>
  <head>
    <title>AgimmoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Leaflet via CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="app-header">
      <nav>
        <%= link_to t("app.name"), root_path, class: "brand" %>
        <div class="nav-right">
          <%= link_to "EN", url_for(locale: :en), class: "locale-link", hreflang: "en" %>
          <%= link_to "PL", url_for(locale: :pl), class: "locale-link", hreflang: "pl" %>
          <% if current_user %>
            <%= link_to t("app.nav.apartments"), new_apartment_path, class: "nav-link" %>
            <%= button_to t("app.nav.sign_out"), sign_out_path, method: :delete, class: "nav-link button-link" %>
          <% else %>
            <%= link_to t("app.nav.sign_in"), sign_in_path, class: "nav-link" %>
            <%= link_to t("app.nav.sign_up"), sign_up_path, class: "nav-link" %>
          <% end %>
        </div>
      </nav>
    </header>
    
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
